[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
flake8-black = "*"
flake8-bugbear = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
mypy = "*"

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
